@import '../bootstrap/assets/stylesheets/bootstrap';
@font-face{
	font-family: 'BebasNeue';
	src: url('fonts/BebasNeueRegular.ttf');
}
@font-face{
	font-family: 'BebasNeueBold';
	src: url('fonts/BebasNeueBold.ttf');
}
@font-face{
	font-family: 'BebasNeueBook';
	src: url('fonts/BebasNeueBook.ttf');
}
@font-face{
	font-family: 'BebasNeueLight';
	src: url('fonts/BebasNeueLight.ttf');
}
@font-face{
	font-family: 'BebasNeueThin';
	src: url('fonts/BebasNeueThin.ttf');
}

$ewu-red: #a10022;
$bg-gray: #fff;


body{
	font-family:sans-serif;
	background: $bg-gray;
	font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'BebasNeueBold';
}



.navbar{
	background: $gray-lighter;
	color: $ewu-red;
	border: none;
	.title{
		display:inline;
		font-size: 3em;
		font-family: BebasNeueBold;
	}
	.navbar-link{
		font-family: BebasNeueLight;
		color: $gray-dark;
		font-size: 3em;
		margin: auto 10px;
	}
	.navbar-link:hover{
		text-decoration: none;
		cursor: pointer;
		color: #fff;
	}
}

.main-content{
	width:100%;
	padding: 10px;
}

.spacer{
	display: block;
}
.spacer-lg{
	height: 50px;
}
.spacer-md{
	height: 25px;
}
.spacer-sm{
	height: 10px;
}
.spacer.line{
	border-top: solid $gray-darker 1px;
}

.divider-vertical{
	display: inline;
	margin: auto 5px;
	height: 100%;
}


section{
	margin: 10px 0;
	background: $gray-lighter;
	padding: 0 !important;
	.header{
		background: $ewu-red;
		font-family: 'BebasNeueBold';
		padding: 10px;
		color: #fff;
		font-size: 4em;
		*{
			margin: 0;
			padding: 0;
		}
	}
	.section-content{
		padding: 10px 10px 20px 10px;
		color: $gray-darker;
	}
	p{
		text-indent: 1em;
	}
	.video{
		margin: auto auto;
		display: block;
		width: 50%;
	}
}

.page-footer{
	background: $gray-dark;
	color: white;
	padding: 3px;
	font-size: .75em;
	//position: absolute;
	//bottom: 0;
	//width: 100%;
}

.modal{
	.modal-title{
		font-size: 2em;
	}
}